<!DOCTYPE html>
<html>
<head>
	<title>To Do</title>
	<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="style.css">

    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.3.11/angular.min.js"></script>
    <script src="app.js"></script>
</head>
<body class="container" ng-app="ToDoApp" ng-controller="ToDoCtrl">
	<h1>Angular To Do List</h1>
	<div class="toDo__form input-group">
		<form ng-submit="addToList()" name="toDoForm" class="toDo__form">
			<input class="form-control" id="toDoInput" type="text" ng-model="listItems.item" autofocus>
			<button type="submit" class="btn btn-primary">Add to list</button>
		</form>
		<button ng-click="clear()" class="btn btn-secondary">Clear List</button>
	</div>

	<div class="well toDoList">
		<ul ng-repeat="item in listItems track by $index">
			<li class="list-item">
				{{ item }}
				<button class="btn btn-xs btn-danger toDoList__btn" ng-click="removeItem(item)">x</button>
			</li>
		</ul>
	</div>
</body>
</html>