<!DOCTYPE html>
<html>
<head>
	<title>To Do</title>
	<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="style.css">

    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.3.11/angular.min.js"></script>
    <script src="app.js"></script>
</head>
<body class="container" ng-app="ToDoApp" ng-controller="ToDoCtrl">
	<h1>Angular To Do List</h1>

	<!-- TODO: Add category to append on to do item for organization -->
	<div>
		<ng-select>
			<ng-options></ng-options>
		</ng-select>
	</div>

	<!-- TODO: Add error state to the form -->
	<div class="toDo__form input-group">
		<form ng-submit="addToList()" name="toDoForm" class="toDo__form">
			<input class="form-control toDoInput" type="text" ng-model="listItem" autofocus>
			<button type="submit" class="btn btn-primary">Add to list</button>
		</form>
		<button ng-click="clear()" class="btn btn-secondary">Clear List</button>
	</div>

	<div class="well toDoList">
		<table class="table table-bordered table-striped">
			<thead>
				<th>To Do</th>
				<th width="1%" ng-if="listItems.length"></th>
				<tbody>
					<tr ng-repeat="item in listItems track by $index" ng-if="listItems.length">
						<td>{{ item }}</td>
						<td>
							<button class="btn btn-xs btn-danger toDoList__btn" ng-click="removeItem(item)">x</button>
						</td>
					</tr>
					<tr class="to-do-empty-form" ng-if="!listItems.length"> 
						<td>
							<p><strong>Add to your list</strong></p>
						</td>
					</tr>
				</tbody>
			</thead>
		</table>
	</div>
</body>
</html>